@import "tailwindcss";

:root {
    color-scheme: light dark;
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    /* Light mode farger */
    --bg: #f9fafb;
    --fg: #111827;
    --heading: #0f172a;

    --card-bg: #ffffff;
    --card-fg: #1f2937;
    --card-border: #e5e7eb;

    --navbar-bg: #ffffff;
    --navbar-fg: #111827;
    --navbar-border: #e5e7eb;

    --accent: #ef4444;
    --accent-hover: #dc2626;

    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
}

@media (prefers-color-scheme: dark) {
    @theme inline {
        --bg: #0a0a0a;
        --fg: #ededed;
        --heading: #ffffff;

        --card-bg: #18181b;
        --card-fg: #e5e7eb;
        --card-border: #3f3f46;

        --navbar-bg: #18181b;
        --navbar-fg: #ededed;
        --navbar-border: #3f3f46;

        --accent: #f87171;
        --accent-hover: #ef4444;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background: var(--bg);
    color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
    font-weight: 700;
}
