@import "tailwindcss";

:root {
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;

    /* Light mode farger */
    --color-bg: #f8f8f8;
    --color-fg: #4f4f4f;
    --color-heading: #2b2b2b;

    --color-card-bg: #ededed;
    --color-card-fg: #5e5e5e;
    --color-card-border: #f2f2f2;

    --color-navbar-bg: #f2f2f2;
    --color-navbar-fg: #383838;
    --color-navbar-border: #e2e8f0;
    --color-theme-btn-bg: #e5e5e5;
    --color-theme-btn-hover: #dddddd;

    --color-accent: #ef4444;
    --color-accent-hover: #dc2626;
}

.dark {
    /* Dark mode farger */
    --color-bg: #141414;
    --color-fg: #e2e2e2;
    --color-heading: #f9f9f9;

    --color-card-bg: #252525;
    --color-card-fg: #e2e2e2;
    --color-card-border: #414141;

    --color-navbar-bg: rgb(40, 40, 40);
    --color-navbar-fg: #efefef;
    --color-navbar-border: #323232;
    --color-theme-btn-bg: #202020;
    --color-theme-btn-hover: #3c3c3c;

    --color-accent: #f87171;
    --color-accent-hover: #ef4444;
}

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-bg: var(--color-bg);
    --color-fg: var(--color-fg);
    --color-heading: var(--color-heading);
    --color-card-bg: var(--color-card-bg);
    --color-card-fg: var(--color-card-fg);
    --color-card-border: var(--color-card-border);
    --color-navbar-bg: var(--color-navbar-bg);
    --color-navbar-fg: var(--color-navbar-fg);
    --color-navbar-border: var(--color-navbar-border);
    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);
    --color-theme-btn-hover: var(--color-theme-btn-hover)
    --color-theme-btn-bg: var(--color-theme-btn-bg)
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background: var(--color-bg);
    color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}
